.Title {
    white-space: pre-line;
    font-size: 60px;
    justify-content: center;
    text-align: center;
    text-shadow: 10px;
  }

 .playerImage {
    border-radius: 8px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 10px;
 }

 .basicPlayerInfo {
     width: auto;
     height: auto;
 }
  
